<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<title>Harmony Music</title>
	<!-- Google Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
	<!-- CSS -->
		<%= stylesheet_link_tag "font-awesome.css" %>
		<%= stylesheet_link_tag "col.css" %>
		<%= stylesheet_link_tag "2cols.css" %>
		<%= stylesheet_link_tag "3cols.css" %>
		<%= stylesheet_link_tag "4cols.css" %>
		<%= stylesheet_link_tag "5cols.css" %>
		<%= stylesheet_link_tag "6cols.css" %>
		<%= stylesheet_link_tag "7cols.css" %>
		<%= stylesheet_link_tag "8cols.css" %>
		<%= stylesheet_link_tag "9cols.css" %>
		<%= stylesheet_link_tag "10cols.css" %>
		<%= stylesheet_link_tag "11cols.css" %>
		<%= stylesheet_link_tag "12cols.css" %>
		<%= stylesheet_link_tag "style.css" %>
		<%= stylesheet_link_tag "component.css" %>
		<%= stylesheet_link_tag "slider-panel.css" %>
		<%= stylesheet_link_tag "slider-panel-dropdown-menu.css" %>
		<script src="js/modernizr.custom.js"></script>
</head>