<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<title>Harmony Music</title>
	<!-- Google Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
	<!-- CSS -->
	<%= stylesheet_link_tag "style.css" %>
	<%= stylesheet_link_tag "font-awesome" %>
	<%= stylesheet_link_tag "col" %>
	<%= stylesheet_link_tag "2cols" %>
	<%= stylesheet_link_tag "3cols" %>
	<%= stylesheet_link_tag "4cols" %>
	<%= stylesheet_link_tag "5cols" %>
	<%= stylesheet_link_tag "6cols" %>
	<%= stylesheet_link_tag "7cols" %>
	<%= stylesheet_link_tag "8cols" %>
	<%= stylesheet_link_tag "9cols" %>
	<%= stylesheet_link_tag "10cols" %>
	<%= stylesheet_link_tag "11cols" %>
	<%= stylesheet_link_tag "12cols" %>
	<%= stylesheet_link_tag "slider-panel" %>
	<%= stylesheet_link_tag "slider-panel-dropdown-menu" %>
	<%= stylesheet_link_tag "component" %>
	<!-- Modernizr -->
	<%= javascript_include_tag "modernizr.custom.js" %>
</head>